# xrethinkdbPassword the admin password for RethinkDb.
#  Used to set the admin password in RethinkDB if enabled then passed to multiple containers in a k8s secret
xrethinkdbPassword: &rethinkdbPassword "{{ rethinkdbPassword }}"

#  Used to set the postgres user password in PostgresQL if enabled then passed to multiple containers in a k8s secret
xpostgresqlPassword: &postgresqlPassword "{{ postgresqlPassword }}"

# xsmtpPassword. the smtp password used by triggers
xsmtpPassword: &smtpPassword "{{ smtpPassword | default( '', true ) }}"

# xplacePassword. The value used by the init subchart to set the default domain users password
xplacePassword: &placePassword "{{ placePassword | default( '', true ) }}"

# xplaceServerSecret for the placeos service
xplaceServerSecret: &placeServerSecret "{{ placeServerSecret | default( '', true ) }}"

# xplaceServerSecret for the placeos service
xauthSecretKeyBase: &authSecretKeyBase "{{ authSecretKeyBase | default( '', true ) }}"

# xserverSecret for the dispatch service
xserverSecret: &serverSecret "{{ serverSecret | default( '', true ) }}"

# xelasticClientEnv configmap values for ElasticSearch Service exposed as environment variables to PlaceOS containers
xelasticClientEnv: &elasticClientEnv
  ES_HOST: "{{ elasticsearch_release_name }}.{{ elasticsearch_namespace }}"
  ES_PORT: 9200

# xetcdClientEnv configmap values for Etcd end point Service as environment variables to PlaceOS containers
xetcdClientEnv: &etcdClientEnv
  ETCD_HOST: "etcd-headless.{{ etcd_namespace }}"
  ETCD_PORT: 2379

# xredisClientEnv configmap values for the redis Service exposed as environment variables to PlaceOS containers
xredisClientEnv: &redisClientEnv
  REDIS_URL: "redis://redis-headless.{{ redis_namespace }}:6379"

# xrethinkdbClientEnv configmap values for RethinkDB Service exposed as environment variables to PlaceOS containers
xrethinkdbClientEnv: &rethinkdbClientEnv
  RETHINKDB_HOST: "{{ rethinkdb_release_name }}-rethinkdb-proxy.{{ rethinkdb_namespace }}"
  RETHINKDB_PORT: 28015
  RETHINKDB_DB: place_development
  RETHINKDB_USER: admin

xrethinkdbClientSecrets: &rethinkdbClientSecrets
  RETHINKDB_PASSWORD: *rethinkdbPassword

xpostgresqlValues: &postgresqlValues
  global:
    postgresql:
      auth:
        username: placeos
        database: placeos
        password: *postgresqlPassword
        postgresPassword: *postgresqlPassword

xinfluxClientEnv: &influxClientEnv
  INFLUX_HOST: http://influx:8086
  INFLUX_ORG: PlaceOS
  INFLUX_BUCKET: placeos

xinfluxAdminToken: &influxAdminToken "{{ influxdbAdminToken }}"

# xsmtpClientSecrets secrets values exposed as environment variables for the trigger service
xsmtpClientSecrets: &smtpClientSecrets
  SMTP_PASS: *smtpPassword

# dispatchSecrets secret values exposed as environment variables for the dispatch service
xdispatchSecrets: &dispatchSecrets
  SERVER_SECRET: *serverSecret

placeos:
  enabled: true
  # api is the overide configuration for the embedded api subchart
  api:
    ingress:
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    configmap:
      # Service Hosts
      << : *elasticClientEnv
      << : *etcdClientEnv
      << : *redisClientEnv
      << : *rethinkdbClientEnv
    secrets:
      << : *rethinkdbClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    deployment:
      resources:
        limits:
          cpu: 100m
          memory: 100Mi
        requests:
          cpu: 10m
          memory: 50Mi
  # auth is the overide configuration for the embedded auth subchart
  auth:
    ingress:
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    configmap:
      << : *rethinkdbClientEnv
    secrets:
      SECRET_KEY_BASE: *authSecretKeyBase
      << : *rethinkdbClientSecrets
    deployment:
      resources:
        limits:
          cpu: 1
          memory: 500Mi
        requests:
          cpu: 10m
          memory: 400Mi
  # core is the overide configuration for the embedded core subchart
  core:
    configmap:
      # Service Hosts
      << : *etcdClientEnv
      << : *redisClientEnv
      << : *rethinkdbClientEnv
    secrets:
      << : *rethinkdbClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    deployment:
      resources:
        limits:
          cpu: 1
          memory: 1536Mi
        requests:
          cpu: 1
          memory: 1536Mi
  # dispatch is the overide configuration for the embedded dispatch subchart
  dispatch:
    udpLoadbalancer:
      annotations:
        service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    tcpLoadbalancer:
      annotations:
        service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    secrets:
      << : *dispatchSecrets
    deployment:
      resources:
        requests:
          cpu: 10m
          memory: 5Mi
  # frontend-loader is the overide configuration for the embedded frontend-loader subchart
  frontendloader:
    httpSidecar: true
    ingress:
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    configmap:
      << : *rethinkdbClientEnv
    secrets:
      << : *rethinkdbClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    persistentVolume:
      name: www
      accessModes:
        - ReadWriteOnce
    deployment:
      resources:
        limits:
          cpu: 500m
          memory: 100Mi
        requests:
          cpu: 500m
          memory: 100Mi
    httpDeployment:
      resources:
        limits:
          cpu: 50m
          memory: 100Mi
        requests:
          cpu: 50m
          memory: 100Mi
  # search-ingest is the overide configuration for the embedded search-ingest subchart
  searchingest:
    configmap:
      # Service Hosts
      << : *rethinkdbClientEnv
      << : *elasticClientEnv
    secrets:
      << : *rethinkdbClientSecrets
    deployment:
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
  # triggers is the overide configuration for the embedded triggers subchart
  triggers:
    configmap:
      # Service Hosts
      << : *etcdClientEnv
      << : *redisClientEnv
      << : *rethinkdbClientEnv
    secrets:
      << : *rethinkdbClientSecrets
      << : *smtpClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    deployment:
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
  # init is the overide configuration for the embedded init subchart
  init:
    config:
      # Service Hosts
      << : *rethinkdbClientEnv
      << : *elasticClientEnv
      << : *rethinkdbClientSecrets
    secrets:
      PLACE_PASSWORD: *placePassword
      PLACE_SERVER_SECRET: *placeServerSecret
  # staff is the overide configuration for the embedded staff subchart
  staff:
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    secrets:
      PLACE_PASSWORD: *placePassword
      PLACE_SERVER_SECRET: *placeServerSecret
    << : *postgresqlValues
    deployment:
      resources:
        limits:
          cpu: 25m
          memory: 250Mi
        requests:
          cpu: 10m
          memory: 50Mi
  # source is the overide configuration for the embedded source subchart
  source:
    configmap:
      << : *etcdClientEnv
      << : *redisClientEnv
      << : *rethinkdbClientEnv
      << : *influxClientEnv
    secrets:
      << : *rethinkdbClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
      INFLUX_API_KEY: *influxAdminToken
    serviceAccount:
      name: null
  global:
    placeDomain: "{{ placeDomain | default('localhost', true ) }}"
    customRedirectPort: "{{ customRedirectPort | default( omit ) }}"

###########################################
##### Third Party Supporting Services #####
###########################################

ingress-nginx:
  enabled: true
  fullnameOverride: "ingress-nginx"
  controller:
    service:
      annotations:
        "service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path": "/healthz"
etcd:
  fullnameOverride: etcd
  enabled: true
  auth:
    rbac:
      create: false
  persistence:
    enabled: true
    size: 500M
elasticsearch:
  enabled: true
  master:
    replicaCount: 1
    persistence:
      enabled: true
      size: 100M
  data:
    replicaCount: 1
    persistence:
      enabled: true
      size: 500M
    resources:
      requests:
        cpu: 25m
        memory: 1536Mi
  coordinating:
    replicaCount: 0
  ingest:
    replicaCount: 0
rethinkdb:
  enabled: true
  cluster:
    replicas: 1
    persistentVolume:
      enabled: true
      size: 1Gi
  rethinkdbPassword: "{{ rethinkdbPassword }}"
redis:
  enabled: true
  fullnameOverride: redis
  auth:
    enabled: false
  architecture: standalone
  commonConfiguration: |-
    notify-keyspace-events Kg$
  master:
    persistence:
      enabled: true
      size: 100M
  fullnameOverride: redis
influxdb:
  fullnameOverride: influxdb
  enabled: true
  auth:
    admin:
      token: *influxAdminToken
mosquitto:
  enabled: false
  fullnameOverride: mosquitto
postgresql:
  enabled: true
  fullnameOverride: postgresql
  << : *postgresqlValues
